backend/notificationservice/src/main/resources/application-local.properties
backend/audioservice/src/main/resources/application-local.properties
backend/authservice/src/main/resources/application-local.properties
frontend/devtools_options.yaml
summarization/app/__pycache__/__init__.cpython-310.pyc
summarization/app/__pycache__/routes.cpython-310.pyc
summarization/app/__pycache__/summarize.cpython-310.pyc
speech/app/__pycache__/__init__.cpython-310.pyc
speech/app/__pycache__/routes.cpython-310.pyc
speech/app/__pycache__/s3_handler.cpython-310.pyc
speech/app/__pycache__/transcribe.cpython-310.pyc
speech/app/__pycache__/video_to_mp4.cpython-310.pyc
speech/__pycache__/config.cpython-310.pyc
backend/noteservice/src/main/resources/application-local.properties
frontend/amplify/#current-cloud-backend/amplify-meta.json
frontend/amplify/#current-cloud-backend/backend-config.json
frontend/amplify/#current-cloud-backend/tags.json
frontend/amplify/#current-cloud-backend/auth/capynotes/cli-inputs.json
frontend/amplify/#current-cloud-backend/auth/capynotes/build/capynotes-cloudformation-template.json
frontend/amplify/#current-cloud-backend/auth/capynotes/build/parameters.json
frontend/amplify/#current-cloud-backend/awscloudformation/build/root-cloudformation-stack.json
frontend/amplify/#current-cloud-backend/awscloudformation/build/auth/capynotes/build/capynotes-cloudformation-template.json
frontend/amplify/#current-cloud-backend/awscloudformation/build/awscloudformation/build/root-cloudformation-stack.json
frontend/amplify/#current-cloud-backend/awscloudformation/build/storage/capynotes/build/cloudformation-template.json
frontend/amplify/#current-cloud-backend/storage/capynotes/cli-inputs.json
frontend/amplify/#current-cloud-backend/storage/capynotes/build/cloudformation-template.json
frontend/amplify/#current-cloud-backend/storage/capynotes/build/parameters.json
frontend/amplify/.config/local-aws-info.json
frontend/amplify/.config/local-env-info.json
frontend/amplify/backend/amplify-meta.json
frontend/amplify/backend/auth/capynotes/build/capynotes-cloudformation-template.json
frontend/amplify/backend/auth/capynotes/build/parameters.json
frontend/amplify/backend/awscloudformation/build/root-cloudformation-stack.json
frontend/amplify/backend/awscloudformation/build/auth/capynotes/build/capynotes-cloudformation-template.json
frontend/amplify/backend/awscloudformation/build/awscloudformation/build/root-cloudformation-stack.json
frontend/amplify/backend/awscloudformation/build/storage/capynotes/build/cloudformation-template.json
frontend/amplify/backend/storage/capynotes/build/cloudformation-template.json
frontend/amplify/backend/storage/capynotes/build/parameters.json
frontend/amplify/hooks/post-push.sh.sample
frontend/amplify/hooks/pre-push.js.sample
frontend/lib/amplifyconfiguration.dart
