backend/notificationservice/src/main/resources/application-local.properties
backend/audioservice/src/main/resources/application-local.properties
backend/authservice/src/main/resources/application-local.properties
frontend/devtools_options.yaml
summarization/app/__pycache__/__init__.cpython-310.pyc
summarization/app/__pycache__/routes.cpython-310.pyc
summarization/app/__pycache__/summarize.cpython-310.pyc
